In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_train =pd.read_csv('tb_hotel_traintest.csv')
df_train.head(50)

,hotel,is_cancelled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,arrival_date,id_booking
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,NaN,NaN,0,Transient,0.00,0,0,2015-07-01,2015-07-01,0
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,NaN,NaN,0,Transient,0.00,0,0,2015-07-01,2015-07-01,1
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,NaN,NaN,0,Transient,75.00,0,0,2015-07-02,2015-07-01,2
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,304.0,NaN,0,Transient,75.00,0,0,2015-07-02,2015-07-01,3
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,240.0,NaN,0,Transient,98.00,0,1,2015-07-03,2015-07-01,4
5,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,240.0,NaN,0,Transient,98.00,0,1,2015-07-03,2015-07-01,5
6,Resort Hotel,0,0,0,2,2,0.0,0,BB,PRT,...,NaN,NaN,0,Transient,107.00,0,0,2015-07-03,2015-07-01,6
7,Resort Hotel,0,9,0,2,2,0.0,0,FB,PRT,...,303.0,NaN,0,Transient,103.00,0,1,2015-07-03,2015-07-01,7
8,Resort Hotel,1,85,0,3,2,0.0,0,BB,PRT,...,240.0,NaN,0,Transient,82.00,0,1,2015-05-06,2015-07-01,8
9,Resort Hotel,1,75,0,3,2,0.0,0,HB,PRT,...,15.0,NaN,0,Transient,105.50,0,0,2015-04-22,2015-07-01,9
10,Resort Hotel,1,23,0,4,2,0.0,0,BB,PRT,...,240.0,NaN,0,Transient,123.00,0,0,2015-06-23,2015-07-01,10
11,Resort Hotel,0,35,0,4,2,0.0,0,HB,PRT,...,240.0,NaN,0,Transient,145.00,0,0,2015-07-05,2015-07-01,11
12,Resort Hotel,0,68,0,4,2,0.0,0,BB,USA,...,240.0,NaN,0,Transient,97.00,0,3,2015-07-05,2015-07-01,12
13,Resort Hotel,0,18,0,4,2,1.0,0,HB,ESP,...,241.0,NaN,0,Transient,154.77,0,1,2015-07-05,2015-07-01,13
14,Resort Hotel,0,37,0,4,2,0.0,0,BB,PRT,...,241.0,NaN,0,Transient,94.71,0,0,2015-07-05,2015-07-01,14
15,Resort Hotel,0,68,0,4,2,0.0,0,BB,IRL,...,240.0,NaN,0,Transient,97.00,0,3,2015-07-05,2015-07-01,15
16,Resort Hotel,0,37,0,4,2,0.0,0,BB,PRT,...,8.0,NaN,0,Contract,97.50,0,0,2015-07-05,2015-07-01,16
17,Resort Hotel,0,12,0,1,2,0.0,0,BB,IRL,...,240.0,NaN,0,Transient,88.20,0,0,2015-07-02,2015-07-01,17
18,Resort Hotel,0,0,0,1,2,0.0,0,BB,FRA,...,NaN,110.0,0,Transient,107.42,0,0,2015-07-02,2015-07-01,18
19,Resort Hotel,0,7,0,4,2,0.0,0,BB,GBR,...,250.0,NaN,0,Transient,153.00,0,1,2015-07-05,2015-07-01,19
20,Resort Hotel,0,37,1,4,1,0.0,0,BB,GBR,...,241.0,NaN,0,Transient,97.29,0,1,2015-07-06,2015-07-01,20
21,Resort Hotel,0,72,2,4,2,0.0,0,BB,PRT,...,250.0,NaN,0,Transient,84.67,0,1,2015-07-07,2015-07-01,21
22,Resort Hotel,0,72,2,4,2,0.0,0,BB,PRT,...,250.0,NaN,0,Transient,84.67,0,1,2015-07-07,2015-07-01,22
23,Resort Hotel,0,72,2,4,2,0.0,0,BB,PRT,...,250.0,NaN,0,Transient,99.67,0,1,2015-07-07,2015-07-01,23
24,Resort Hotel,0,127,2,5,2,0.0,0,HB,GBR,...,115.0,NaN,0,Contract,94.95,0,1,2015-07-01,2015-07-01,24
25,Resort Hotel,0,78,2,5,2,0.0,0,BB,PRT,...,5.0,NaN,0,Transient,63.60,1,0,2015-07-08,2015-07-01,25
26,Resort Hotel,0,48,2,5,2,0.0,0,BB,IRL,...,8.0,NaN,0,Contract,79.50,0,0,2015-07-08,2015-07-01,26
27,Resort Hotel,1,60,2,5,2,0.0,0,BB,PRT,...,240.0,NaN,0,Transient,107.00,0,2,2015-05-11,2015-07-01,27
28,Resort Hotel,0,77,2,5,2,0.0,0,BB,PRT,...,240.0,NaN,0,Transient,94.00,0,0,2015-07-08,2015-07-01,28
29,Resort Hotel,0,99,2,5,2,0.0,0,BB,PRT,...,240.0,NaN,0,Transient,87.30,1,1,2015-07-08,2015-07-01,29
30,Resort Hotel,0,118,4,10,1,0.0,0,BB,NaN,...,NaN,NaN,0,Transient,62.00,0,2,2015-07-15,2015-07-01,30
31,Resort Hotel,0,95,4,11,2,0.0,0,BB,GBR,...,241.0,NaN,0,Transient,63.86,0,0,2015-07-16,2015-07-01,31
32,Resort Hotel,1,96,2,8,2,0.0,0,BB,PRT,...,NaN,NaN,0,Transient,108.30,0,2,2015-05-29,2015-07-01,32
33,Resort Hotel,0,69,2,4,2,0.0,0,BB,IRL,...,175.0,NaN,0,Transient,65.50,0,0,2015-07-08,2015-07-02,33
34,Resort Hotel,1,45,1,3,3,0.0,0,BB,PRT,...,241.0,NaN,0,Transient,108.80,0,1,2015-05-19,2015-07-02,34
35,Resort Hotel,1,40,1,3,3,0.0,0,BB,PRT,...,241.0,NaN,0,Transient,108.80,0,1,2015-06-19,2015-07-02,35
36,Resort Hotel,0,15,1,3,2,0.0,0,BB,ESP,...,240.0,NaN,0,Transient,98.00,0,0,2015-07-06,2015-07-02,36
37,Resort Hotel,0,36,1,3,3,0.0,0,BB,PRT,...,241.0,NaN,0,Transient,108.80,0,1,2015-07-06,2015-07-02,37
38,Resort Hotel,1,43,1,3,3,0.0,0,BB,PRT,...,241.0,NaN,0,Transient,108.80,0,0,2015-05-23,2015-07-02,38
39,Resort Hotel,0,70,2,3,2,0.0,0,HB,ROU,...,250.0,NaN,0,Transient,137.00,0,1,2015-07-07,2015-07-02,39
40,Resort Hotel,1,45,2,3,2,0.0,0,BB,PRT,...,241.0,NaN,0,Transient,117.81,0,0,2015-05-18,2015-07-02,40
41,Resort Hotel,0,45,2,3,2,0.0,0,BB,IRL,...,8.0,NaN,0,Contract,79.50,0,0,2015-07-07,2015-07-02,41
42,Resort Hotel,0,16,2,3,2,0.0,0,BB,ESP,...,NaN,NaN,0,Transient,123.00,0,0,2015-07-07,2015-07-02,42
43,Resort Hotel,0,70,2,3,2,0.0,0,HB,ROU,...,250.0,NaN,0,Transient,137.00,0,1,2015-07-07,2015-07-02,43
44,Resort Hotel,0,107,2,5,2,0.0,0,BB,PRT,...,240.0,NaN,0,Transient,110.70,0,2,2015-07-09,2015-07-02,44
45,Resort Hotel,1,47,2,5,2,2.0,0,BB,PRT,...,240.0,NaN,0,Transient,153.00,0,0,2015-06-02,2015-07-02,45
46,Resort Hotel,0,96,2,5,2,0.0,0,BB,ESP,...,134.0,NaN,0,Transient,58.95,0,1,2015-07-09,2015-07-02,46
47,Resort Hotel,0,90,2,5,2,0.0,0,HB,GBR,...,243.0,NaN,0,Contract,82.35,0,0,2015-07-09,2015-07-02,48
48,Resort Hotel,0,50,2,5,2,0.0,0,HB,IRL,...,241.0,NaN,0,Transient,119.35,0,1,2015-07-09,2015-07-02,49
49,Resort Hotel,0,113,2,5,2,0.0,0,BB,NOR,...,156.0,NaN,0,Transient-Party,67.58,0,2,2015-07-09,2015-07-02,50

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113409 entries, 0 to 113408
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           113409 non-null  object
 1   is_cancelled                    113409 non-null  int64
 2   lead_time                       113409 non-null  int64
 3   stays_in_weekend_nights         113409 non-null  int64
 4   stays_in_week_nights            113409 non-null  int64
 5   adults                          113409 non-null  int64
 6   children                        113406 non-null  float64
 7   babies                          113409 non-null  int64
 8   meal                            113409 non-null  object
 9   country                         112951 non-null  object
 10  market_segment                  113409 non-null  object
 11  distribution_channel            113409 non-null  object
 12  is_repeated_guest               113409 non-null  int64
 13  previous_cancellations          113409 non-null  int64
 14  previous_bookings_not_canceled  113409 non-null  int64
 15  reserved_room_type              113409 non-null  object
 16  assigned_room_type              113409 non-null  object
 17  booking_changes                 113409 non-null  int64
 18  deposit_type                    113409 non-null  object
 19  agent                           97918 non-null   float64
 20  company                         6437 non-null    float64
 21  days_in_waiting_list            113409 non-null  int64
 22  customer_type                   113409 non-null  object
 23  adr                             113409 non-null  float64
 24  required_car_parking_spaces     113409 non-null  int64
 25  total_of_special_requests       113409 non-null  int64
 26  reservation_status_date         113409 non-null  object
 27  arrival_date                    113409 non-null  object
 28  id_booking                      113409 non-null  int64
dtypes: float64(4), int64(14), object(11)
memory usage: 25.1+ MB

In [4]:
cat_cols = [col for col in df_train.columns if df_train[col].dtype == 'O']
cat_cols

['hotel',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'customer_type',
 'reservation_status_date',
 'arrival_date']

In [5]:
cat_df =df_train[cat_cols]
cat_df

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status_date,arrival_date
0,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,2015-07-01,2015-07-01
1,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,2015-07-01,2015-07-01
2,Resort Hotel,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,2015-07-02,2015-07-01
3,Resort Hotel,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,2015-07-02,2015-07-01
4,Resort Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,2015-07-03,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...
113404,City Hotel,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,2017-09-06,2017-08-30
113405,City Hotel,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,2017-09-07,2017-08-31
113406,City Hotel,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,2017-09-07,2017-08-31
113407,City Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,2017-09-07,2017-08-31
113408,City Hotel,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,2017-09-07,2017-08-29

In [6]:
num_df = df_train.drop(columns=cat_cols,axis =1)

In [7]:
num_df.var()

is_cancelled                      2.332728e-01
lead_time                         1.142650e+04
stays_in_weekend_nights           9.974479e-01
stays_in_week_nights              3.635389e+00
adults                            3.407674e-01
children                          1.591820e-01
babies                            9.609359e-03
is_repeated_guest                 3.067006e-02
previous_cancellations            7.132444e-01
previous_bookings_not_canceled    2.242992e+00
booking_changes                   4.222025e-01
agent                             1.222347e+04
company                           1.731328e+04
days_in_waiting_list              3.102494e+02
adr                               2.563064e+03
required_car_parking_spaces       6.011813e-02
total_of_special_requests         6.288150e-01
id_booking                        1.187807e+09
dtype: float64

In [8]:
num_df['lead_time'] = np.log(num_df['lead_time'] + 1)
num_df['agent'] = np.log(num_df['agent'] + 1)
num_df['company'] = np.log(num_df['company'] + 1)
num_df['adr'] = np.log(num_df['adr'] + 1)

In [9]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
cat_df['country']=le.fit_transform(cat_df['country'])
cat_df['hotel']=le.fit_transform(cat_df['hotel'])
cat_df['meal']=le.fit_transform(cat_df['meal'])
cat_df['market_segment']=le.fit_transform(cat_df['market_segment'])
cat_df['distribution_channel']=le.fit_transform(cat_df['distribution_channel'])
cat_df['reserved_room_type']=le.fit_transform(cat_df['reserved_room_type'])
cat_df['assigned_room_type']=le.fit_transform(cat_df['assigned_room_type'])
cat_df['deposit_type']=le.fit_transform(cat_df['deposit_type'])
cat_df['customer_type']=le.fit_transform(cat_df['customer_type'])
cat_df['reservation_status_date']=le.fit_transform(cat_df['reservation_status_date'])
cat_df['arrival_date']=le.fit_transform(cat_df['arrival_date'])

In [10]:
num_df['children'].fillna(0,inplace=True)

In [11]:
num_df['agent'].fillna(86.45,inplace=True)

In [12]:
num_df['company'].fillna(179,inplace=True)

In [13]:
num_df['adr'].fillna(4.47,inplace=True)

In [14]:
df1_train= pd.concat([cat_df,num_df],axis =1)

In [15]:
df1_train.head()

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status_date,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,id_booking
0,1,0,133,3,1,2,2,0,2,121,...,0,0,3,86.450000,179.0,0,0.000000,0,0,0
1,1,0,133,3,1,2,2,0,2,121,...,0,0,4,86.450000,179.0,0,0.000000,0,0,1
2,1,0,58,3,1,0,2,0,2,122,...,0,0,0,86.450000,179.0,0,4.330733,0,0,2
3,1,0,58,2,0,0,0,0,2,122,...,0,0,0,5.720312,179.0,0,4.330733,0,0,3
4,1,0,58,6,3,0,0,0,2,123,...,0,0,0,5.484797,179.0,0,4.595120,0,1,4

# Test Analysis

In [16]:
df_test =pd.read_csv('tb_hotel_feat_valid.csv')
df_test.head()

,hotel,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,arrival_date,id_booking
0,Resort Hotel,113,2,5,2,0.0,0,BB,NOR,Offline TA/TO,...,156.0,NaN,0,Transient-Party,82.88,0,2,2015-07-09,2015-07-02,47
1,Resort Hotel,5,1,0,2,0.0,0,BB,PRT,Online TA,...,240.0,NaN,0,Transient,97.00,0,0,2015-07-01,2015-07-05,132
2,Resort Hotel,81,1,3,2,2.0,0,HB,CHE,Direct,...,250.0,NaN,0,Transient,210.00,1,0,2015-07-10,2015-07-06,164
3,Resort Hotel,98,1,1,2,0.0,0,BB,USA,Online TA,...,240.0,NaN,0,Transient,87.30,1,1,2015-07-08,2015-07-06,171
4,Resort Hotel,98,1,5,2,0.0,0,HB,ESP,Online TA,...,240.0,NaN,0,Transient,117.80,1,1,2015-07-12,2015-07-06,178

In [17]:
c_cols = [col for col in df_test.columns if df_test[col].dtype == 'O']
c_cols

['hotel',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'customer_type',
 'reservation_status_date',
 'arrival_date']

In [18]:
c_df =df_test[c_cols]
c_df.head()

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status_date,arrival_date
0,Resort Hotel,BB,NOR,Offline TA/TO,TA/TO,E,E,No Deposit,Transient-Party,2015-07-09,2015-07-02
1,Resort Hotel,BB,PRT,Online TA,TA/TO,D,D,No Deposit,Transient,2015-07-01,2015-07-05
2,Resort Hotel,HB,CHE,Direct,Direct,G,G,No Deposit,Transient,2015-07-10,2015-07-06
3,Resort Hotel,BB,USA,Online TA,TA/TO,D,F,No Deposit,Transient,2015-07-08,2015-07-06
4,Resort Hotel,HB,ESP,Online TA,TA/TO,A,C,No Deposit,Transient,2015-07-12,2015-07-06

In [19]:
n_df = df_test.drop(columns=cat_cols,axis =1)

In [20]:
n_df.var()

lead_time                         1.128940e+04
stays_in_weekend_nights           9.932074e-01
stays_in_week_nights              3.759060e+00
adults                            2.362192e-01
children                          1.525610e-01
babies                            7.303730e-03
is_repeated_guest                 3.512612e-02
previous_cancellations            7.065664e-01
previous_bookings_not_canceled    2.229675e+00
booking_changes                   4.881418e-01
agent                             1.315943e+04
company                           1.773389e+04
days_in_waiting_list              2.968124e+02
adr                               2.378865e+03
required_car_parking_spaces       6.111018e-02
total_of_special_requests         6.231938e-01
id_booking                        1.188526e+09
dtype: float64

In [21]:
n_df['lead_time'] = np.log(n_df['lead_time'] + 1)
n_df['agent'] = np.log(n_df['agent'] + 1)
n_df['company'] = np.log(n_df['company'] + 1)
n_df['adr'] = np.log(n_df['adr'] + 1)

In [22]:
n_df['children'].fillna(0,inplace=True)

In [23]:
n_df['agent'].fillna(91.15,inplace=True)

In [24]:
n_df['company'].fillna(190,inplace=True)

In [25]:
c_df['country']=le.fit_transform(c_df['country'])
c_df['hotel']=le.fit_transform(c_df['hotel'])
c_df['meal']=le.fit_transform(c_df['meal'])
c_df['market_segment']=le.fit_transform(c_df['market_segment'])
c_df['distribution_channel']=le.fit_transform(c_df['distribution_channel'])
c_df['reserved_room_type']=le.fit_transform(c_df['reserved_room_type'])
c_df['assigned_room_type']=le.fit_transform(c_df['assigned_room_type'])
c_df['deposit_type']=le.fit_transform(c_df['deposit_type'])
c_df['customer_type']=le.fit_transform(c_df['customer_type'])
c_df['reservation_status_date']=le.fit_transform(c_df['reservation_status_date'])
c_df['arrival_date']=le.fit_transform(c_df['arrival_date'])

In [26]:
df1_test= pd.concat([c_df,n_df],axis =1)

In [27]:
df1_test.head()

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status_date,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,id_booking
0,1,0,61,5,3,4,4,0,3,42,...,0,0,0,5.056246,190.0,0,4.429387,0,2,47
1,1,0,68,6,3,3,3,0,2,35,...,0,0,0,5.484797,190.0,0,4.584967,0,0,132
2,1,2,12,3,1,6,6,0,2,43,...,0,0,0,5.525453,190.0,0,5.351858,1,0,164
3,1,0,85,6,3,3,5,0,2,41,...,0,0,0,5.484797,190.0,0,4.480740,1,1,171
4,1,2,25,6,3,0,2,0,2,45,...,0,0,0,5.484797,190.0,0,4.777441,1,1,178

# Model building

In [28]:
#from sklearn.preprocessing import StandardScaler
#scale =StandardScaler()

In [29]:
X_train =df1_train.drop('is_cancelled',axis =1)

In [30]:
X_train.isnull().sum()

hotel                             0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
reserved_room_type                0
assigned_room_type                0
deposit_type                      0
customer_type                     0
reservation_status_date           0
arrival_date                      0
lead_time                         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
agent                             0
company                           0
days_in_waiting_list              0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
id_booking                        0
dtype: int64

In [31]:
y_train =df1_train['is_cancelled']

In [32]:
X_test =df1_test

In [33]:
from sklearn.linear_model import LogisticRegression
lr =LogisticRegression(max_iter =10000)
lr.fit(X_train,y_train)
lr_predict =lr.predict(X_test)

In [34]:
submission =pd.DataFrame({'id_booking':X_test['id_booking'],'is_cancelled':lr_predict})

In [35]:
submission.to_csv('submission.csv',index=False)